body {
    font-family:"Poppins"
}
*,
*::after,
*::before {
    box-sizing:border-box
}

.post-item {
    display: flex;
}

.post-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}